@{
    ViewData["Title"] = "Company - About";
}
<!-- About header -->
<header class="about-header">
    <h1>About Comecode</h1>
    <p>Learn more about Comecode.</p>
</header>
<!-- About container -->
<div class="about-container">
    <!-- Company section -->
    <section class="company">
        <h2>Online education platform for those who seek to create more.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula libero ut lectus pharetra pulvinar. Ut rutrum massa vel ultrices sodales. Sed elementum neque at eros feugiat mollis. Proin eget erat eu tortor bibendum lacinia. Duis luctus efficitur mi vitae dictum. Etiam nec diam ligula.</p>
    </section>
    <!-- Team section -->
    <section class="team">
        <h2>Meet the team</h2>
        <p></p>
        <!-- Member 1 -->
        <article class="member" id="member1">
            <img src="~/img/member4.jpeg" alt="Teammember Sam" />
            <h3>Sam Wells</h3>
            <h4>Founder + CEO</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula libero ut lectus pharetra pulvinar. Ut rutrum massa vel ultrices sodales. Sed elementum neque at eros feugiat mollis.</p>
            <div class="social-links">
                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fab fa-facebook-f"></i></a>
                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fab fa-linkedin-in"></i></a>
                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fab fa-instagram"></i></a>
            </div>
        </article>
        <!-- Member 2 -->
        <article class="member" id="member2">
            <img src="~/img/member1.jpeg" alt="Teammember John" />
            <h3>John Smith</h3>
            <h4>Educator</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula libero ut lectus pharetra pulvinar. Ut rutrum massa vel ultrices sodales. Sed elementum neque at eros feugiat mollis.</p>
            <div class="social-links">
                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fab fa-facebook-f"></i></a>
                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fab fa-linkedin-in"></i></a>
                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fab fa-instagram"></i></a>
            </div>
        </article>
        <!-- Member 3 -->
        <article class="member" id="member3">
            <img src="~/img/member2.jpeg" alt="Teammember Derek" />
            <h3>Derek Brown</h3>
            <h4>Product</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula libero ut lectus pharetra pulvinar. Ut rutrum massa vel ultrices sodales. Sed elementum neque at eros feugiat mollis.</p>
            <div class="social-links">
                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fab fa-facebook-f"></i></a>
                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fab fa-linkedin-in"></i></a>
                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fab fa-instagram"></i></a>
            </div>
        </article>
        <!-- Member 4 -->
        <article class="member" id="member4">
            <img src="~/img/member3.jpeg" alt="Teammember Sarah" />
            <h3>Sarah Samson</h3>
            <h4>Costumer experience</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula libero ut lectus pharetra pulvinar. Ut rutrum massa vel ultrices sodales. Sed elementum neque at eros feugiat mollis.</p>
            <div class="social-links">
                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fab fa-facebook-f"></i></a>
                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fab fa-linkedin-in"></i></a>
                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fab fa-instagram"></i></a>
            </div>
        </article>
    </section>
</div>