<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/2e578577-e573-47a9-b6b4-f6b799ebfe1e/resourceGroups/DT102GProjectElinStenback/providers/Microsoft.Web/sites/DT102GProjectElinStenback</ResourceId>
    <ResourceGroup>DT102GProjectElinStenback</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://dt102gprojectelinstenback.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>dt102gprojectelinstenback.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DT102GProjectElinStenback</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DT102GProjectElinStenback</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>